.btn-primario, .btn-secundario {
  padding: 1rem 1.2rem;
  border-radius: var(--radius-btn);
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.btn-primario {
  color: var(--color-alabastro);
  background-color: var(--color-siena);
  border: 1px solid var(--color-siena);
}

.btn-primario:hover {
  background-color: transparent;
  color: var(--color-siena);
}

.btn-secundario {
  color: var(--color-carbon);
  background-color: var(--color-salvia);
  border: 1px solid var(--color-salvia);
}

.btn-secundario:hover {
  background-color: #4F673C;
  color: var(--color-alabastro);
}