/* Boton Primario */
.btn-primario {
  font-size: var(--text-h5);
  color: var(--color-alabastro);
  background-color: var(--color-siena);
  padding: 1rem 1.5rem;
  border-radius: var(--radius-btn);
  transition: background-color 0.3s ease;
  border: 1px solid var(--color-siena);
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
}

.btn-primario:hover {
  background-color: transparent;
  color: var(--color-siena);
}

.btn-secundario {
  font-size: var(--text-h5);
  color: var(--color-carbon);
  background-color: var(--color-salvia);
  padding: 1rem 1.5rem;
  border-radius: var(--radius-btn);
  transition: background-color 0.3s ease;
  border: 1px solid var(--color-salvia);
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
}

.btn-secundario:hover {
  background-color: #4F673C;
  color: var(--color-alabastro);
}